<div class="container__big-card">
  <div class="big-card__img">
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/6.svg" alt="" height="300px">
  </div>

  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular...! fica ligado</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel nulla quis nibh aliquam rhoncus vehicula ac mauris. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Suspendisse id velit et tellus ullamcorper eleifend. Suspendisse ac nunc sagittis, sollicitudin nunc sit amet,
        posuere leo. Sed nibh libero, dictum at augue at, sollicitudin pellentesque eros.
      </a>
    </p>
  </div>
</div>


